.about-card {
  background-clip: border-box;
  background-image: url('../../../public/images/hurst-2-cropped.jpg');
  // background-position: left 75% top 50%;
  background-repeat: no-repeat;
  background-size: cover;
}