.absolute-center {
    left: 0;
    right: 0;
    margin: auto
}

.hide-loading-bar {
    --loader-bar-height: 0px;
}
.crossfade-image {
    height: 140px;
    width: 140px;

    @include until($tablet) {
        left: 0;
        right: 0;
        margin: auto
    }
}