.hero-home {
  @include theme-gradient();

  .hero-divider {
    height: $size-7;
    margin: 3rem 0;

    @include until($tablet) {
      height: 0.5rem;
      margin: 1rem 0;
    }
  }

  .hero-title {
    font-size: 8rem;

    @include until($desktop) {
      font-size: 6rem;
    }

    @include until($tablet) {
      font-size: 4rem;
      text-align: center;
    }
  }

  .hero-content {
    font-size: 2rem;

    @include until($desktop) {
      font-size: 1.5rem;
    }
  }

  .box {
    & .title, .subtitle {
        color: $light
    };
  }
}