.anim {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fade-in-bottom {
    animation-name: fade-in-bottom;
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1
    }
}