@import './bulma';
@import 'images';
@import 'typography';
@import 'colors';
@import 'columns';
@import './components/header';
@import './components/footer';


html,
body {
  font-family: $family-primary;
}

.hero {
  @include theme-gradient();

  .hero-divider {
    height: $size-7;

    @include until($tablet) {
      height: 0.5rem;
      margin: 1rem 0;
    }
  }

  .hero-title {
    font-size: 6rem;

    @include until($desktop) {
      font-size: 6rem;
    }

    @include until($tablet) {
      font-size: 4rem;
      text-align: center;
    }
  }

  .hero-content {
    font-size: 2rem;

    @include until($desktop) {
      font-size: 1.5rem;
    }
  }
}