@import './bulma';
@import 'images';
@import 'colors';
@import 'columns';
@import 'gradients';
@import './components/header';
@import './components/footer';
@import './pages/home';
@import './pages/about';


html,
body {
  font-family: $family-primary;
}

// DEBUG STUFF
.red {
  border: 1px red solid;
}

.blue {
  border: 1px blue solid;
}

.green {
  border: 1px green solid;
}
