@charset "utf-8";

// Customization

// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";

// 2. Overwrite Variables
$footer-padding: 2rem;
$dark: $black-ter;
$mobile: 540px;

.mb-7 {
    margin-bottom: 7rem !important;
}

// 4. Import the rest of Bulma
@import "~bulma/bulma";