// https://uigradients.com/#VelvetSun
$velvet-sun-red: #f05053;
$velvet-sun-lime: #e1eec3;

// https://uigradients.com/#Shalala
$shalala-peach: #E29587;
$shalala-rose: #D66D75;

// https://uigradients.com/#Nelson
$nelson-orange: #ff9472;
$nelson-rose: #f2709c;

// https://uigradients.com/#SweetMorning
$sweet-morning-red: #FF5F6D;
$sweet-morning-yellow: #FFC371;

// https://uigradients.com/#Haikus
$haikus-orange: #fd746c;
$haikus-light-orange: #ff9068;

// https://uigradients.com/#Miaka
$miaka-red: #FC354C;
$miaka-turquoise: #0ABFBC;

// https://uigradients.com/#Peach
$peach-red: #ED4264;
$peach-yellow: #FFEDBC;

// https://uigradients.com/#NoontoDusk
$noon-to-dusk-pink: #ff6e7f;
$noon-to-dusk-blue: #bfe9ff;

$theme-gradient-1: $peach-red;
$theme-gradient-2: $peach-yellow;