$theme-color-1: #14161e;
$theme-color-2: #1a1d27;
$theme-color-3: #292c38;

// Pastel 2 https://coolors.co/dc6a6a-ffadad-ffd6a5-fdffb6-caffbf-70f3ff-70a7ff-bdb2ff-ffc6ff-fffffc
$pastel-red: #DC6A6A;
$pastel-orange: #FFD6A5;
$pastel-yellow: #FDFFB6;
$pastel-green: #CAFFBF;
$pastel-blue: #70A7FF;
$pastel-teal: #70F3FF;
$pastel-violet: #BDB2FF;
$pastel-pink: #FFADAD;
$pastel-mauve: #FFC6FF;
$pastel-cream: #FFFFFC;

.is-theme-color-1 {
  background: $theme-color-1;
  color: $light;
}

.is-theme-color-2 {
  background: $theme-color-2;
  color: $light;
}

.is-pastel-red {
  color: $pastel-red;
}

.is-pastel-orange {
  color: $pastel-orange;
}

.is-pastel-yellow {
  color: $pastel-yellow;
}

.is-pastel-green {
  color: $pastel-green;
}

.is-pastel-blue {
  color: $pastel-blue;
}

.is-pastel-teal {
  color: $pastel-teal;
}

.is-pastel-violet {
  color: $pastel-violet;
}

.is-pastel-pink {
  color: $pastel-pink;
}

.is-pastel-mauve {
  color: $pastel-mauve;
}

.is-pastel-cream {
  color: $pastel-cream;
}