// https://uigradients.com/#VelvetSun
$velvet-sun-red: #f05053;
$velvet-sun-lime: #e1eec3;

$juicy-orange-orange: #FF8008;
$juicy-orange-yellow: #FFC837;

// https://uigradients.com/#Shalala
$shalala-peach: #E29587;
$shalala-rose: #D66D75;

// https://uigradients.com/#Nelson
$nelson-orange: #ff9472;
$nelson-rose: #f2709c;

// https://uigradients.com/#SweetMorning
$sweet-morning-red: #FF5F6D;
$sweet-morning-yellow: #FFC371;

// https://uigradients.com/#Haikus
$haikus-orange: #fd746c;
$haikus-light-orange: #ff9068;

// https://uigradients.com/#Miaka
$miaka-red: #FC354C;
$miaka-turquoise: #0ABFBC;

// https://uigradients.com/#Peach
$peach-red: #ED4264;
$peach-yellow: #FFEDBC;

// https://uigradients.com/#NoontoDusk
$noon-to-dusk-pink: #ff6e7f;
$noon-to-dusk-blue: #bfe9ff;

// https://uigradients.com/#ALostMemory
$lost-memory-red: #DE6262;
$lost-memory-orange: #FFB88C;

// https://uigradients.com/#MidnightCity
$midnight-city-black: #232526;
$midnight-city-grey: #414345;

// https://webgradients.com
$rare-wind-blue: #a8edea;
$rare-wind-pink: #fed6e3;

$wild-apple-pink: #d299c2;
$wild-apple-yellow: #fef9d7;

$burning-orange-pink: #FF416C;
$burning-orange-red: #FF4B2B;

$relaxing-red-red: #b20a2c;
$relaxing-red-yellow: #fffbd5;

$compare-now-red: #EF3B36;
$compare-now-white: #FFFFFF;

$endless-river-turquoise: #43cea2;
$endless-river-blue: #185a9d;

// Bliss
$bliss-1: #f78ca0;
$bliss-2: #f9748f;
$bliss-3: #fd868c;
$bliss-4: #fe9a8b;

// Premium Dark
$premium-dark-void: #000000;
$premium-dark-midnight: #434343;

// Japan Blush
$japan-blush-pink: #faaca8;
$japan-blush-purple: #ddd6f3;

// Vicious Stance
$vicious-stance-black-light: #485563;
$vicious-stance-black-dark: #29323c;

// Royal
$royal-dark: #141e30;
$royal-light: #243b55;

// Custom Peach
$custom-red: #ff5959;
$custom-yellow: #ffe3b7;

$bittersweet: #F29E4C;
$fire-opal: #F1C453;

$cg-blue: #2C699A;
$cyan-process: #048BA8;

$theme-color-1: $midnight-city-black;
$theme-color-2: $midnight-city-grey;

.is-theme-color-1 {
  background: $theme-color-1;
  color: $light;
}

.is-theme-color-2 {
  background: $theme-color-2;
  color: $light;
}