.is-half-size {
  width: 50%;
  height: auto;
}

.is-quarter-size {
  width: 25%;
  height: auto;
}

.is-three-quarter-size {
  width: 75%;
  height: auto;
}

.has-border-radius-small {
  border-radius: 5px;
}