// ======== CONTAINERS ======== //
.page-container {
  min-height: 100vh;
}

// ======== COLUMNS ======== //
.columns-stretch {
  align-items: stretch;
}

.column-reverse-columns-tablet {
  @media(max-width: $tablet) {
    flex-direction: column-reverse;
    display: flex;
  }
}

.row-reverse-columns {
  flex-direction: row-reverse;
}